*{
 background-color: bisque;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hed{
    position: relative;
    height:500px;
    width: 455px;
    padding: 20px;
    background-color: gray;
    border: 5px solid rgb(78, 78, 114);
    border-radius: 8px;
}
.h1{
 padding: 2px;
 margin: 2px;
}
.seargh{
    position: relative;
    width: 100px;
    height: 55px;
    background-color: aqua;
}

    