*{
 background-color: bisque;
  margin: 0px;
  padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.hed{
    position: relative;
    height:500px;
    width: 400px;
    padding: 20px;
    background-color: gray;
    border: 5px solid rgb(143, 143, 201);
    border-radius: 2px;
}
.h1{
 
}
.seargh{
    position: relative;
    width: 100px;
    height: 55px;
}

    